@import "bootstrap/dist/css/bootstrap.css";
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;
  --vt-c-indigo: #2c3e50;
  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);
  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --section-gap: 165px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);
    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
body,
html {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-seance-50: #fdf1ff;
  --color-seance-100: #fbe1ff;
  --color-seance-200: #f6c3ff;
  --color-seance-300: #f394ff;
  --color-seance-400: #eb54ff;
  --color-seance-500: #e216ff;
  --color-seance-600: #ca00ff;
  --color-seance-700: #ac00d9;
  --color-seance-800: #8f00b1;
  --color-seance-900: #7f0099;
  --color-seance-950: #520063;
  --color-paua-50: #f4f1ff;
  --color-paua-100: #ece5ff;
  --color-paua-200: #daceff;
  --color-paua-300: #c0a7ff;
  --color-paua-400: #a476ff;
  --color-paua-500: #893fff;
  --color-paua-600: #7e18ff;
  --color-paua-700: #7207fa;
  --color-paua-800: #5f05d2;
  --color-paua-900: #4f06ac;
  --color-paua-950: #270061;
  --color-blue-chill-50: #effefd;
  --color-blue-chill-100: #c7fffb;
  --color-blue-chill-200: #90fff7;
  --color-blue-chill-300: #51f7f2;
  --color-blue-chill-500: #04c5c8;
  --color-blue-chill-600: #00999f;
  --color-blue-chill-700: #057a80;
  --color-blue-chill-800: #0a5f65;
  --color-blue-chill-900: #0d5054;
  --color-blue-chill-950: #002e33;
}

#app {
  height: 100dvh;
  width: 100dvw;
  overflow-y: hidden;
  background-color: var(--color-blue-chill-950);
}

[data-bs-theme=dark] #app {
  background-color: var(--color-blue-chill-950);
}
[data-bs-theme=dark] .active-purple {
  background-color: var(--color-blue-chill-900) !important;
  transition: 0.8s;
}
[data-bs-theme=dark] .active-purple:hover {
  background-color: var(--color-blue-chill-600) !important;
  transition: 0.8s;
}

.btn-outline-blue-chill {
  --bs-btn-color: var(--color-blue-chill-700);
  --bs-btn-border-color: var(--color-blue-chill-700);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--color-blue-chill-800);
  --bs-btn-hover-border-color: var(--color-blue-chill-800);
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--color-blue-chill-800);
  --bs-btn-active-border-color: var(--color-blue-chill-800);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-blue-chill-800);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--color-blue-chill-800);
  --bs-gradient: none;
}

.btn-outline-danger2 {
  --bs-btn-color: #dc3545;
  --bs-btn-border-color: #dc3545;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-border-color: #dc3545;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-border-color: #dc3545;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #dc3545;
  --bs-btn-disabled-border-color: #dc3545;
  --bs-gradient: none;
}

.btn-outline-secondary2 {
  --bs-btn-color: #6c757d;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-border-color: #6c757d;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-border-color: #6c757d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
  --bs-gradient: none;
}

.border-blue-chill {
  --bs-border-opacity: 1;
  border-color: rgba(var(--color-blue-chill-700), var(--bs-border-opacity)) !important;
}/*# sourceMappingURL=main.css.map */